/* ===========================
General/Reuseable Styles
============================== */
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: "Domine", serif;
  font-size: 0.89rem;
}
.block-display {
  display: block;
}
.sandy-brown {
  color: #ffad5a;
}
a {
  text-decoration: none;
}
.button {
  font-size: 1rem;
  background-color: #ff5959;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}
.medium-sized-image {
  width: 350px;
}
.general-heading {
  color: #13103a;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 50px;
}
/* ==========================
Header Section
============================== */
.header {
  display: flex;
  justify-content: space-around;
  padding: 86px 158px;
}
.header h1 {
  font-size: 3.75em;
  line-height: 80px;
  padding-left: 15px;
}
.heading-border {
  position: relative;
}
.heading-border:before {
  content: "";
  background: #ff5959;
  position: absolute;
  left: 0;
  top: 14.5px;
  height: 123px;
  width: 4px;
  border-radius: 5px;
}
.header p {
  width: 480px;
  margin-top: 17px;
  line-height: 1.6;
}
.header small {
  display: block;
  margin-top: 25px;
  color: rgb(119, 119, 119);
}
/* ==========================
My Mission Section
============================== */

.mission-article {
  width: 300px;
  padding: 20px 30px;

  border-radius: 26px;
}
#mission-article1 {
  background-color: #4f9da61a;
}
#mission-article2 {
  background-color: #ff59591a;
}
#mission-article3 {
  background-color: #fff4d6;
}
.mission-article img {
  width: 130px;
}
.mission-article h2 {
  padding: 20px 0;
}
.mission-article p {
  line-height: 1.5;
  padding-bottom: 15px;
}
.mission-article-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
}
/* ==========================
Inspiration Blog Section
============================== */

.blog-container {
  display: flex;
  padding: 80px 0 0 221px;
  gap: 60px;
  background-repeat: no-repeat;
  background-size: 180px;
}
#inspiration-blog {
  background-image: url(images/shapes/shape-1.png);
  background-position: 10% 50%;
}
#community-blog {
  background-image: url(images/shapes/shape-1.png);
  background-position: 80% 100%;
  padding-bottom: 60px;
}
.text-wrapper-with-cta {
  width: 600px;
  padding-top: 55px;
}
.text-wrapper-with-cta h1 {
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.4;
  padding-bottom: 10px;
}
.text-wrapper-with-cta p {
  line-height: 1.5;
}
/* ==========================
Portfolio Plan Section
============================== */
.portfolio-plan {
  margin-top: 50px;
}
.portfolio-plan h2 {
  text-align: center;
  padding: 15px 0 90px 0;
}
#custom-heading {
  padding-bottom: 10px;
}
.project {
  width: 300px;
}
.project img {
  width: 300px;
  height: 250px;
  filter: brightness(0.8);
  border-radius: 20px;
}
.project img:hover {
  filter: brightness(1);
  cursor: pointer;
}
.project h3 {
  text-align: center;
  padding-top: 30px;
  color: #13103a;
  font-weight: 900;
}
.project p {
  line-height: 1.8;
  padding: 12px;
  text-align: justify;
}
.project-wrapper {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 100px;
}
/* ==========================
Footer Section
============================== */
footer h1 {
  font-family: "Courgette", cursive;
  font-size: 2rem;
  padding-bottom: 10px;
}
footer p {
  font-size: 0.8rem;
}
footer {
  color: white;
  text-align: center;
  background-color: #0b0d17;
  padding: 35px 0;
}
.red-color {
  color: #ff5959;
}
